@import './mixins.scss';
@import './overrides.scss';

.create-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05 * 4;

  background-color: $ui-02;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -$spacing-05;
    top: 0;
    right: -$spacing-05;
    bottom: 0;
    background: $ui-02;
    z-index: -1;
  }
}

.create-page__heading {
  margin-top: $spacing-05;
  @include carbon--type-style('productive-heading-05');
}

.create-page__illo {
  position: absolute;
  right: $spacing-07;
  top: $spacing-07;
}

.create-page__r2 {
  margin-top: rem(-40px);
}

.create-page__tab-content {
  padding-top: $layout-03;
  padding-bottom: $layout-03;
}

.create-page__section {
  margin-bottom: $layout-05;
}

.create-page__subheading {
  display: block;
  @include carbon--type-style('productive-heading-03');
}

.create-page__helper-text {
  @include carbon--type-style('label-01');
  margin-top: $spacing-02;
  margin-bottom: $spacing-06;
  width: 50%;
}

.create-page__section .create-page__input {
  margin-bottom: $spacing-06;
}

.create-page__tile-icon {
  height: 24px;
  position: relative;
  top: 0;
  left: 0;
}
.create-page__tile-heading {
  position: absolute;
  top: $spacing-05;
  left: $spacing-09;
  @include carbon--type-style('productive-heading-01');
}

.create-page__tile-dropdown-inline {
  position: relative;
  bottom: -$spacing-05;
}
